use for testing process_raw_data.py

In [1]:
import process_raw_data as main
import pandas as pd
import os

# here we just use the first file to test the code
files = os.listdir(main.RAW_DATA_PATH)
file_name = f'{main.RAW_DATA_PATH}/{files[0]}'

In [2]:
file_name

'/Users/mxy/Desktop/study/dsProject/data/raw/Art_exhibitions_gale.csv'

In [3]:
df = pd.read_csv(file_name)

df.head(5)

,Author,Title,Publication,Date,Place,Full_text,URL
0,"Collings, Matthew",My life as a sitting duck,The Times,2006-Jun-14,"London, England",My life as a sitting duck\nAs both artist and ...,https://link.gale.com/apps/doc/IF0502836523/TT...
1,"Taylor, John Russell",If it takes an ear-bashing on the radio to get...,The Times,2005-Mar-23,"London, England",ARTS 1\nIf it takes an ear-bashing on the radi...,https://link.gale.com/apps/doc/IF0502588429/TT...
2,"Warhol, Andy","Here's looking at me, myself and I",The Times,2005-Feb-16,"London, England","ARTS\nHere's looking at me, myself and I\nvisu...",https://link.gale.com/apps/doc/IF0502733807/TT...
3,"Campbell-Johnston, Rachel",Sensation! It's paint on canvas,The Times,2005-Jan-26,"London, England",2 ARTS\nSensation! It's paint on canvas\nwisim...,https://link.gale.com/apps/doc/IF0502727758/TT...
4,"Taylor, John Russell",Bright October light,The Times,2004-Nov-24,"London, England",ARTS 1\nht October\nexhibition John Russell Ta...,https://link.gale.com/apps/doc/IF0502578704/TT...

### What we need to process?
The URL column is used for tracing and will not used for model training, so we don't discuss it.

    Author, Publicationï¼ŒPlace: Remove the leading and trailing spaces and convert to title format.

    Title: remove non English character.

    Date: convert to '2006-01-14' format.

    Full_text: remove all HTML tags, remove HTTP links, remove non English characters, make all letters lowercase, remove extra spaces

In [4]:
main.run()

Art_exhibitions_gale.csv: Start to clean data
Art_exhibitions_gale.csv: Data cleaning completed
Concerts_gale.csv: Start to clean data
Concerts_gale.csv: Data cleaning completed
Theater_gale.csv: Start to clean data
Theater_gale.csv: Data cleaning completed
Operas_gale.csv: Start to clean data
Operas_gale.csv: Data cleaning completed
Books_gale.csv: Start to clean data
Books_gale.csv: Data cleaning completed
Dance_gale.csv: Start to clean data
Dance_gale.csv: Data cleaning completed
Poetry_gale.csv: Start to clean data
Poetry_gale.csv: Data cleaning completed

In [ ]:
processed_files = os.listdir(main.PROCESSED_DATA_PATH)
processed_file_name = f'{main.PROCESSED_DATA_PATH}/processed_{file_name}'

processed_df = pd.read_csv(processed_file_name)
processed_df.head(5)

SyntaxError: f-string: invalid syntax. Perhaps you forgot a comma? (397013657.py, line 2)